In [3]:
import pandas as pd
import numpy as np

In [3]:
import os
import pandas as pd

# Change this to match your local directory
base_path = '/Users/andrewchen/dsc106/project4/exam_health/Data'
exam = 'Final'
sensor = 'HR'

# Collect combined rows here
combined_data = []

# Loop through S1 to S10
for i in range(1, 11):
    subject = f'S{i}'
    sensor_file = os.path.join(base_path, subject, exam, f"{sensor}.csv")

    if not os.path.exists(sensor_file):
        print(f"⚠️ Missing: {sensor_file}")
        continue

    df = pd.read_csv(sensor_file, header=None)
    df.columns = ['timestamp', 'value']
    df['subject'] = subject

    combined_data.append(df)

# Combine and save
out_df = pd.concat(combined_data, ignore_index=True)
out_df.to_csv(f"{exam}_{sensor}.csv", index=False)
print(f"✅ Created {exam}_{sensor}.csv with shape: {out_df.shape}")

ValueError: cannot reshape array of size 2 into shape (3)

In [6]:
import os
import pandas as pd
import numpy as np

# Settings
base_path = '/Users/andrewchen/dsc106/project4/exam_health/Data'
exam = 'Final'
sensor = 'HR'
sampling_rate = 1  # HR is sampled at 1 Hz

subject_data = {}

max_length = 0

# Load HR data for each subject
for i in range(1, 11):
    subject = f'S{i}'
    file_path = os.path.join(base_path, subject, exam, f"{sensor}.csv")

    if not os.path.exists(file_path):
        print(f"⚠️ Missing: {file_path}")
        continue

    values = pd.read_csv(file_path, header=None)[0]
    subject_data[f"{subject}_{sensor}"] = values

    max_length = max(max_length, len(values))

# Build the full DataFrame with NaN padding
df_out = pd.DataFrame({
    'timestamp': np.arange(max_length) / sampling_rate
})

for col_name, values in subject_data.items():
    padded = pd.Series(values).reindex(range(max_length))  # Automatically pads with NaN
    df_out[col_name] = padded

# Save the wide-format CSV
df_out.to_csv(f"Finished_Data/{exam}_{sensor}.csv", index=False)
print(f"✅ Saved NaN-padded file: {exam}_{sensor}.csv — shape: {df_out.shape}")

✅ Saved NaN-padded file: Final_HR.csv — shape: (25814, 11)

In [5]:
final_BVP = pd.read_csv('Data/Final_BVP.csv')
final_BVP.head()

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.000000,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1,0.015625,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
2,0.031250,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
3,0.046875,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
4,0.062500,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0

In [6]:
# only get the rows where relative_time is a multiple of 20.0
final_BVP = final_BVP[final_BVP['relative_time'] % 60.0 == 0]

In [7]:
final_BVP

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
3840,60.0,-90.66,-0.93,-5.38,-238.30,-142.96,19.61,-29.60,-246.68,-0.24,-8.53
7680,120.0,-24.93,6.80,-22.62,142.99,-12.96,156.43,15.99,140.11,-29.32,-68.20
11520,180.0,1.12,-1.75,8.99,1.10,79.12,0.68,-1.86,0.01,-1.05,-1.64
15360,240.0,-1.30,5.66,0.74,-106.73,19.36,-1.78,11.83,-52.11,8.29,10.15
...,...,...,...,...,...,...,...,...,...,...,...
1635840,25560.0,NaN,NaN,14.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1639680,25620.0,NaN,NaN,-81.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643520,25680.0,NaN,NaN,1.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1647360,25740.0,NaN,NaN,21.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651200,25800.0,NaN,NaN,-65.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# cut off rows with Nan
final_BVP = final_BVP.dropna()
final_BVP

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
3840,60.0,-90.66,-0.93,-5.38,-238.30,-142.96,19.61,-29.60,-246.68,-0.24,-8.53
7680,120.0,-24.93,6.80,-22.62,142.99,-12.96,156.43,15.99,140.11,-29.32,-68.20
11520,180.0,1.12,-1.75,8.99,1.10,79.12,0.68,-1.86,0.01,-1.05,-1.64
15360,240.0,-1.30,5.66,0.74,-106.73,19.36,-1.78,11.83,-52.11,8.29,10.15
...,...,...,...,...,...,...,...,...,...,...,...
890880,13920.0,-0.07,-2.82,6.13,-2.07,-0.77,0.28,-2.30,-6.29,4.15,7.16
894720,13980.0,0.60,4.42,-3.19,0.47,7.96,-1.90,3.22,5.43,-1.72,-4.27
898560,14040.0,-0.69,-5.76,2.68,-2.19,-7.50,2.08,-2.90,-6.70,0.68,4.49
902400,14100.0,1.38,-2.99,-0.93,-4.73,3.29,3.45,0.94,-4.01,4.13,2.32
906240,14160.0,-0.90,1.87,-5.22,-0.41,7.42,85.57,3.21,3.46,1.11,65.30

In [11]:
# divide the relative_time column by 60.0
final_BVP['relative_time'] = final_BVP['relative_time'] / 60.0
final_BVP
# download the final_BVP.csv file

/var/folders/nw/0j298g817b92m2qlhw1_fwnr0000gn/T/ipykernel_2404/2461108333.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_BVP['relative_time'] = final_BVP['relative_time'] / 60.0

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
3840,1.0,-90.66,-0.93,-5.38,-238.30,-142.96,19.61,-29.60,-246.68,-0.24,-8.53
7680,2.0,-24.93,6.80,-22.62,142.99,-12.96,156.43,15.99,140.11,-29.32,-68.20
11520,3.0,1.12,-1.75,8.99,1.10,79.12,0.68,-1.86,0.01,-1.05,-1.64
15360,4.0,-1.30,5.66,0.74,-106.73,19.36,-1.78,11.83,-52.11,8.29,10.15
...,...,...,...,...,...,...,...,...,...,...,...
890880,232.0,-0.07,-2.82,6.13,-2.07,-0.77,0.28,-2.30,-6.29,4.15,7.16
894720,233.0,0.60,4.42,-3.19,0.47,7.96,-1.90,3.22,5.43,-1.72,-4.27
898560,234.0,-0.69,-5.76,2.68,-2.19,-7.50,2.08,-2.90,-6.70,0.68,4.49
902400,235.0,1.38,-2.99,-0.93,-4.73,3.29,3.45,0.94,-4.01,4.13,2.32
906240,236.0,-0.90,1.87,-5.22,-0.41,7.42,85.57,3.21,3.46,1.11,65.30

In [12]:
# download the final_BVP.csv file
final_BVP.to_csv('Data/filtered_BVP.csv', index=False)