In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
import pandas as pd

# Change this to match your local directory
base_path = '/Users/andrewchen/dsc106/project4/exam_health/Data'
exam = 'Final'
sensor = 'HR'

# Collect combined rows here
combined_data = []

# Loop through S1 to S10
for i in range(1, 11):
    subject = f'S{i}'
    sensor_file = os.path.join(base_path, subject, exam, f"{sensor}.csv")

    if not os.path.exists(sensor_file):
        print(f"⚠️ Missing: {sensor_file}")
        continue

    df = pd.read_csv(sensor_file, header=None)
    df.columns = ['timestamp', 'value']
    df['subject'] = subject

    combined_data.append(df)

# Combine and save
out_df = pd.concat(combined_data, ignore_index=True)
out_df.to_csv(f"{exam}_{sensor}.csv", index=False)
print(f"✅ Created {exam}_{sensor}.csv with shape: {out_df.shape}")

ValueError: cannot reshape array of size 2 into shape (3)

In [6]:
import os
import pandas as pd
import numpy as np

# Settings
base_path = '/Users/andrewchen/dsc106/project4/exam_health/Data'
exam = 'Final'
sensor = 'HR'
sampling_rate = 1  # HR is sampled at 1 Hz

subject_data = {}

max_length = 0

# Load HR data for each subject
for i in range(1, 11):
    subject = f'S{i}'
    file_path = os.path.join(base_path, subject, exam, f"{sensor}.csv")

    if not os.path.exists(file_path):
        print(f"⚠️ Missing: {file_path}")
        continue

    values = pd.read_csv(file_path, header=None)[0]
    subject_data[f"{subject}_{sensor}"] = values

    max_length = max(max_length, len(values))

# Build the full DataFrame with NaN padding
df_out = pd.DataFrame({
    'timestamp': np.arange(max_length) / sampling_rate
})

for col_name, values in subject_data.items():
    padded = pd.Series(values).reindex(range(max_length))  # Automatically pads with NaN
    df_out[col_name] = padded

# Save the wide-format CSV
df_out.to_csv(f"Finished_Data/{exam}_{sensor}.csv", index=False)
print(f"✅ Saved NaN-padded file: {exam}_{sensor}.csv — shape: {df_out.shape}")

✅ Saved NaN-padded file: Final_HR.csv — shape: (25814, 11)

In [3]:
final_BVP = pd.read_csv('Data/Final_BVP.csv')
final_BVP.head()

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.000000,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
1,0.015625,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
2,0.031250,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
3,0.046875,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
4,0.062500,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0

In [4]:
# only get the rows where relative_time is a multiple of 20.0
final_BVP = final_BVP[final_BVP['relative_time'] % 20.0 == 0]

In [5]:
final_BVP

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
1280,20.0,2.79,29.36,40.63,-0.88,-1.66,-7.36,271.49,5.51,-115.53,-21.00
2560,40.0,-8.18,37.18,-35.37,91.28,-77.80,119.66,-79.31,-155.97,-2.43,-7.22
3840,60.0,-90.66,-0.93,-5.38,-238.30,-142.96,19.61,-29.60,-246.68,-0.24,-8.53
5120,80.0,19.14,7.62,5.77,-77.19,22.26,5.79,-16.91,21.66,-30.76,26.05
...,...,...,...,...,...,...,...,...,...,...,...
1647360,25740.0,NaN,NaN,21.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1648640,25760.0,NaN,NaN,33.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1649920,25780.0,NaN,NaN,-11.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1651200,25800.0,NaN,NaN,-65.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1652480,25820.0,NaN,NaN,16.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# cut off rows with Nan
final_BVP = final_BVP.dropna()
final_BVP

,relative_time,S1_BVP,S2_BVP,S3_BVP,S4_BVP,S5_BVP,S6_BVP,S7_BVP,S8_BVP,S9_BVP,S10_BVP
0,0.0,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00
1280,20.0,2.79,29.36,40.63,-0.88,-1.66,-7.36,271.49,5.51,-115.53,-21.00
2560,40.0,-8.18,37.18,-35.37,91.28,-77.80,119.66,-79.31,-155.97,-2.43,-7.22
3840,60.0,-90.66,-0.93,-5.38,-238.30,-142.96,19.61,-29.60,-246.68,-0.24,-8.53
5120,80.0,19.14,7.62,5.77,-77.19,22.26,5.79,-16.91,21.66,-30.76,26.05
...,...,...,...,...,...,...,...,...,...,...,...
903680,14120.0,-1.75,47.60,6.47,0.14,-7.53,1.60,-3.83,-4.84,1.03,-10.29
904960,14140.0,-19.41,5.48,1.81,1.41,-2.58,-2.55,-9.73,5.02,14.27,-76.87
906240,14160.0,-0.90,1.87,-5.22,-0.41,7.42,85.57,3.21,3.46,1.11,65.30
907520,14180.0,50.22,0.44,-51.80,-0.01,-102.85,-1.60,7.68,-1.68,-20.45,-19.12
908800,14200.0,5.23,-4.13,-3.86,0.69,1.50,8.22,3.52,4.43,0.10,3.04

In [7]:
# download the final_BVP.csv file
final_BVP.to_csv('Data/filtered_BVP.csv', index=False)